<div id="header-carousel" class="carousel slide" data-ride="carousel">
  <div class="carousel-inner">
    <div class="carousel-item active" style="height: 810px;">
      <img class="img-fluid" src="https://i.pinimg.com/originals/ef/80/83/ef8083bfe79088dc00bd8eca9c821cd5.jpg"
           alt="Image">
      <div class="carousel d-flex flex-column align-items-center justify-content-center">
        <div class="p-3" style="max-width: 500px;">
          <!--                <h4 class="text-light text-uppercase font-weight-medium mb-3">10% Off Your First Order</h4>-->
          <!--                <h3 class="display-4 text-white font-weight-semi-bold mb-4">Fashionable Dress</h3>-->
          <!--          <a href="" class="btn btn-light py-2 px-3">Mua ngay</a>-->
        </div>
      </div>
    </div>
    <div class="carousel-item" style="height: 800px;">
      <img class="img-fluid"
           src="https://global.hisense.com/dam/jcr:983144b1-36db-44ba-af97-7c15d37daa71/product-overview-hisense-smartphone-kv.h60-5g.jpg"
           alt="Image">
      <div class="carousel-caption d-flex flex-column align-items-center justify-content-center">
        <div class="p-3" style="max-width: 700px;">
          <!--                <h4 class="text-light text-uppercase font-weight-medium mb-3">10% Off Your First Order</h4>-->
          <!--                <h3 class="display-4 text-white font-weight-semi-bold mb-4">Reasonable Price</h3>-->
          <!--          <a href="" class="btn btn-light py-2 px-3">Mua ngay</a>-->
        </div>
      </div>
    </div>
  </div>
  <a class="carousel-control-prev" href="#header-carousel" data-slide="prev">
    <div class="btn btn-dark" style="width: 45px; height: 45px;">
      <span class="carousel-control-prev-icon mb-n2"></span>
    </div>
  </a>
  <a class="carousel-control-next" href="#header-carousel" data-slide="next">
    <div class="btn btn-dark" style="width: 45px; height: 45px;">
      <span class="carousel-control-next-icon mb-n2"></span>
    </div>
  </a>
</div>


<!-- Featured Start-->
<div class="container-fluid pt-5">
  <div class="row px-xl-5 pb-3">
    <div class="col-lg-3 col-md-6 col-sm-12 pb-1">
      <div class="d-flex align-items-center border mb-4" style="padding: 30px;">
        <h1 class="fa fa-check text-primary m-0 mr-3"></h1>
        <h5 class="font-weight-semi-bold m-0">Sản phẩm chất lượng</h5>
      </div>
    </div>
    <div class="col-lg-3 col-md-6 col-sm-12 pb-1">
      <div class="d-flex align-items-center border mb-4" style="padding: 30px;">
        <h1 class="fa fa-shipping-fast text-primary m-0 mr-3"></h1>
        <h5 class="font-weight-semi-bold m-0">Miễn phí vận chuyển</h5>
      </div>
    </div>
    <div class="col-lg-3 col-md-6 col-sm-12 pb-1">
      <div class="d-flex align-items-center border  mb-4" style="padding: 30px;padding-bottom: 7px">
        <h1 class="fas fa-exchange-alt text-primary m-0 mr-3"></h1>
        <h5 class="font-weight-semi-bold m-0">Đổi trả trong vòng 14 ngày</h5>
      </div>
    </div>
    <div class="col-lg-3 col-md-6 col-sm-12 pb-1">
      <div class="d-flex align-items-center border mb-4" style="padding: 30px;">
        <h1 class="fa fa-phone-volume text-primary m-0 mr-3"></h1>
        <h5 class="font-weight-semi-bold m-0">Hỗ trợ 24/7</h5>
      </div>
    </div>
  </div>
</div>
<!-- Featured End-->

<!-- Offer Start -->
<div class="container-fluid offer pt-5">
  <div class="row px-xl-5">
    <div class="col-md-6 pb-6">
      <div class="position-relative bg-dark text-center text-md-right text-white py-5 px-5">
        <div style="height: 15em">
          <img class="h-100" src="assets/img/offer-1.png">
        </div>
        <div class="position-relative" style="z-index: 1;">
          <h5 class="text-uppercase text-primary mb-3">Giảm 20% cho tất cả sản phẩm</h5>
          <h1 class="mb-3 text-light font-weight-semi-bold">Laptop gamming</h1>
          <a href="" class="btn btn-outline-primary py-md-2 px-md-3">Mua ngay</a>
        </div>
      </div>
    </div>
    <div class="col-md-6 pb-4">
      <div class="position-relative bg-dark text-center text-md-left text-white mb-2 py-5 px-5">
        <div style="height: 15em">
          <img class="h-100" src="assets/img/offer-2.png">
        </div>
        <div class="position-relative" style="z-index: 1;">
          <h5 class="text-uppercase text-primary mb-3">Giảm 20% cho tất cả sản phẩm</h5>
          <h1 class="mb-3 text-light font-weight-semi-bold">Gamming phone</h1>
          <a href="" class="btn btn-outline-primary py-md-2 px-md-3">Mua ngay</a>
        </div>
      </div>
    </div>
  </div>
</div><!-- Offer End -->
<div class="container-fluid pt-5">
  <div class="text-center mb-4">
    <h2 class="section-title px-5"><span class="px-2">SẢN PHẨM HOT</span></h2>
  </div>
  <div class="row px-xl-5 pb-3">
    <div  class="col-lg-3 col-md-6 col-sm-12 pb-1">
      <div  class="card product-item border-0 mb-4">
        <div class="card-header product-img position-relative overflow-hidden bg-transparent border p-0">
          <img class="img-fluid w-100" src="assets/img/samsung.jpg" alt="">
        </div>
        <div class="card-body border-left border-right text-center p-0 pt-4 pb-3">
          <h6 class="text-light mb-3">Samsung Galaxy s22 Ultra 5G</h6>
          <div class="d-flex justify-content-center">
            <h6 class="text-light">25.990.000đ</h6>
            <h6 class="text-light ml-2">
              <del>30.990.000đ</del>
            </h6>
          </div>
        </div>
        <div class="card-footer d-flex justify-content-between bg-light border">
          <a  class="btn btn-sm text-dark p-0"><i class="fas fa-eye text-primary mr-1"></i>Xem chi tiết</a>
          <a class="btn btn-sm text-dark p-0"><i class="fas fa-shopping-cart text-primary mr-1"></i>Thêm vào giỏ
            hàng</a>
        </div>
      </div>
    </div>
    <div class="col-lg-3 col-md-6 col-sm-12 pb-1">
      <div class="card product-item border-0 mb-4">
        <div class="card-header product-img position-relative overflow-hidden bg-transparent border p-0">
          <img class="img-fluid w-100" src="assets/img/iphone.jpg" alt="">
        </div>
        <div class="card-body border-left border-right text-center p-0 pt-4 pb-3">
          <h6 class="text-light mb-3">Iphone 13 Pro Max</h6>
          <div class="d-flex justify-content-center">
            <h6 class="text-light">28.790.000đ</h6>
            <h6 class="text-light ml-2">
              <del>33.990.000đ</del>
            </h6>
          </div>
        </div>
        <div class="card-footer d-flex justify-content-between bg-light border">
          <a href="" class="btn btn-sm text-dark p-0"><i class="fas fa-eye text-primary mr-1"></i>Xem chi tiết</a>
          <a href="" class="btn btn-sm text-dark p-0"><i class="fas fa-shopping-cart text-primary mr-1"></i>Thêm vào giỏ
            hàng</a>
        </div>
      </div>
    </div>
    <div class="col-lg-3 col-md-6 col-sm-12 pb-1">
      <div class="card product-item border-0 mb-4">
        <div class="card-header product-img position-relative overflow-hidden bg-transparent border p-0">
          <img class="img-fluid w-100" src="assets/img/sony.jpg" alt="">
        </div>
        <div class="card-body border-left border-right text-center p-0 pt-4 pb-3">
          <h6 class="text-light mb-3">Sony Xperia 1 IV</h6>
          <div class="d-flex justify-content-center">
            <h6 class="text-light">15.990.000đ</h6>
            <h6 class="text-light ml-2">
              <del>16.990.000đ</del>
            </h6>
          </div>
        </div>
        <div class="card-footer d-flex justify-content-between bg-light border">
          <a href="" class="btn btn-sm text-dark p-0"><i class="fas fa-eye text-primary mr-1"></i>Xem chi tiết</a>
          <a href="" class="btn btn-sm text-dark p-0"><i class="fas fa-shopping-cart text-primary mr-1"></i>Thêm vào giỏ
            hàng</a>
        </div>
      </div>
    </div>
    <div class="col-lg-3 col-md-6 col-sm-12 pb-1">
      <div class="card product-item border-0 mb-4">
        <div class="card-header product-img position-relative overflow-hidden bg-transparent border p-0">
          <img class="img-fluid w-100" src="assets/img/xiaomi.jpg" alt="">
        </div>
        <div class="card-body border-left border-right text-center p-0 pt-4 pb-3">
          <h6 class="text-light mb-3">Xiaomi Black Shark 5 Pro</h6>
          <div class="d-flex justify-content-center">
            <h6 class="text-light">23.990.000đ</h6>
            <h6 class="text-light ml-2">
              <del>24.990.000đ</del>
            </h6>
          </div>
        </div>
        <div class="card-footer d-flex justify-content-between bg-light border">
          <a href="" class="btn btn-sm text-dark p-0"><i class="fas fa-eye text-primary mr-1"></i>Xem chi tiết</a>
          <a href="" class="btn btn-sm text-dark p-0"><i class="fas fa-shopping-cart text-primary mr-1"></i>Thêm vào giỏ
            hàng</a>
        </div>
      </div>
    </div>
    <div class="col-lg-3 col-md-6 col-sm-12 pb-1">
      <div class="card product-item border-0 mb-4">
        <div class="card-header product-img position-relative overflow-hidden bg-transparent border p-0">
          <img class="img-fluid w-100" src="assets/img/rog.jpg" alt="">
        </div>
        <div class="card-body border-left border-right text-center p-0 pt-4 pb-3">
          <h6 class="text-light mb-3">ROG Phone 5</h6>
          <div class="d-flex justify-content-center">
            <h6 class="text-light">20.990.000đ</h6>
            <h6 class="text-light ml-2">
              <del>21.990.000đ</del>
            </h6>
          </div>
        </div>
        <div class="card-footer d-flex justify-content-between bg-light border">
          <a href="" class="btn btn-sm text-dark p-0"><i class="fas fa-eye text-primary mr-1"></i>Xem chi tiết</a>
          <a href="" class="btn btn-sm text-dark p-0"><i class="fas fa-shopping-cart text-primary mr-1"></i>Thêm vào giỏ
            hàng</a>
        </div>
      </div>
    </div>
    <div class="col-lg-3 col-md-6 col-sm-12 pb-1">
      <div class="card product-item border-0 mb-4">
        <div class="card-header product-img position-relative overflow-hidden bg-transparent border p-0">
          <img class="img-fluid w-100" src="assets/img/oppo.jpg" alt="">
        </div>
        <div class="card-body border-left border-right text-center p-0 pt-4 pb-3">
          <h6 class="text-light mb-3">Oppo Find X5 Pro 5G</h6>
          <div class="d-flex justify-content-center">
            <h6 class="text-light">30.990.000đ</h6>
            <h6 class="text-light ml-2">
              <del>31.990.000đ</del>
            </h6>
          </div>
        </div>
        <div class="card-footer d-flex justify-content-between bg-light border">
          <a href="" class="btn btn-sm text-dark p-0"><i class="fas fa-eye text-primary mr-1"></i>Xem chi tiết</a>
          <a href="" class="btn btn-sm text-dark p-0"><i class="fas fa-shopping-cart text-primary mr-1"></i>Thêm vào giỏ
            hàng</a>
        </div>
      </div>
    </div>
    <div class="col-lg-3 col-md-6 col-sm-12 pb-1">
      <div class="card product-item border-0 mb-4">
        <div class="card-header product-img position-relative overflow-hidden bg-transparent border p-0">
          <img class="img-fluid w-100" src="assets/img/vivo.jpg" alt="">
        </div>
        <div class="card-body border-left border-right text-center p-0 pt-4 pb-3">
          <h6 class="text-light mb-3">Vivo x80</h6>
          <div class="d-flex justify-content-center">
            <h6 class="text-light">18.990.000đ</h6>
            <h6 class="text-light ml-2">
              <del>19.990.000đ</del>
            </h6>
          </div>
        </div>
        <div class="card-footer d-flex justify-content-between bg-light border">
          <a href="" class="btn btn-sm text-dark p-0"><i class="fas fa-eye text-primary mr-1"></i>Xem chi tiết</a>
          <a href="" class="btn btn-sm text-dark p-0"><i class="fas fa-shopping-cart text-primary mr-1"></i>Thêm vào giỏ
            hàng</a>
        </div>
      </div>
    </div>

    <div class="col-lg-3 col-md-6 col-sm-12 pb-1">
      <div class="card product-item border-0 mb-4">
        <div class="card-header product-img position-relative overflow-hidden bg-transparent border p-0">
          <img class="img-fluid w-100" src="assets/img/product-8.jpg" alt="">
        </div>
        <div class="card-body border-left border-right text-center p-0 pt-4 pb-3">
          <h6 class="text-light mb-3">Vivo x80</h6>
          <div class="d-flex justify-content-center">
            <h6 class="text-light">18.990.000đ</h6>
            <h6 class="text-light ml-2">
              <del>19.990.000đ</del>
            </h6>
          </div>
        </div>
        <div class="card-footer d-flex justify-content-between bg-light border">
          <a href="" class="btn btn-sm text-dark p-0"><i class="fas fa-eye text-primary mr-1"></i>Xem chi tiết</a>
          <a href="" class="btn btn-sm text-dark p-0"><i class="fas fa-shopping-cart text-primary mr-1"></i>Thêm vào giỏ
            hàng</a>
        </div>
      </div>
    </div>
  </div>
</div>

<div class="container mt-3 ">
  <!-- Products Start -->
  <div class="container-fluid pt-2 pb-2 ">
    <h2 class="section-title position-relative text-uppercase  mb-4">
      <span class="bg-white" style="border-radius: 12px">LAPTOP</span>
    </h2>
    <div class="row ">
      <div class="col-lg-3 col-md-4 col-sm-6 pb-1" *ngFor="let p of listProduct">
        <div class="product-item bg-light mb-4">
          <div class="product-img position-relative overflow-hidden">
            <img class="img-fluid w-100" [src]="p.image" alt="">
            <div class="product-action">
              <a *ngIf="role == 'ROLE_USER' && infoStatus == false" class="btn btn-outline-dark btn-square"
                 [routerLink]="['']" (click)="addToCart(p)">
                <i class="fa fa-shopping-cart"></i></a>
              <a *ngIf="role == 'ROLE_USER'  && infoStatus == true" class="btn btn-outline-dark btn-square"
                 [routerLink]="['']" (click)="updateInfoMessage()">
                <i class="fa fa-shopping-cart"></i></a>
              <a *ngIf="role != 'ROLE_USER'" class="btn btn-outline-dark btn-square" [routerLink]="['']"
                 (click)="addToCartMessage()">
                <i class="fa fa-shopping-cart"></i></a>
              <a class="btn btn-outline-dark btn-square" [routerLink]="['/detail',p.id]"><i
                class="fa fa-search"></i></a>
              <a class="btn btn-outline-dark btn-square" *ngIf=" role === 'ROLE_ADMIN'" [routerLink]="['/update', p.id] "><i
                class="fa fa-edit"></i></a>
              <a class="btn btn-outline-dark btn-square" data-bs-toggle="modal" data-bs-target="#exampleModal"
                 (click)="showDelete(p)"
                 *ngIf=" role === 'ROLE_ADMIN'" [routerLink]="'/'"><i class="fa fa-trash"></i></a>
            </div>
          </div>
          <div class="text-center py-4">
            <p class="h6 text-decoration-none text-truncate" href="">{{p.name}} </p>
            <div class="d-flex align-items-center justify-content-center mt-2">
              <b
                class="text-danger">{{(p.price - (p.price * p.discount / 100) | currency: 'VND' : '').replace(',', '.').replace(',', '.').replace(',', '.')}}
                đ</b>
              <b class="text-muted ml-2">
                <b class="text-success">(-{{p.discount}}%) <small class="text-danger">({{p.quantity}})</small></b>
              </b>
            </div>
          </div>
        </div>
      </div>
      <a href=""></a>
      <a href=""><i class="fa-solid fa-trash-can-check"></i></a>
    </div>
  </div>
  <div class="col-lg-12" *ngIf="listProduct.length > 0">
    <nav>
      <ul class="pagination justify-content-center">
        <div *ngIf="number == 0" >
          <li class="page-item disabled">
            <button class="page-link" (click)="goPrevious()" hidden>Quay Lại</button>
          </li>
        </div>
        <div *ngIf="number != 0">
          <li class="page-item">
            <button class="page-link" (click)="goPrevious()">Quay Lại</button>
          </li>
        </div>
        <div *ngFor="let count of countTotalPages; index as i" >
          <div *ngIf="i == number">
            <li class="page-item active">
              <button class="page-link" (click)="goItem(i)">{{i + 1}}</button>
            </li>
          </div>
          <div *ngIf="i != number">
            <li class="page-item">
              <button class="page-link" (click)="goItem(i)">{{i + 1}}</button>
            </li>
          </div>
        </div>
        <div *ngIf="number == totalPages - 1">
          <li class="page-item disabled">
            <button class="page-link" (click)="goNext()" hidden>Tiếp</button>
          </li>
        </div>
        <div *ngIf="number != totalPages - 1">
          <li class="page-item">
            <button class="page-link" (click)="goNext()">Tiếp</button>
          </li>
        </div>
      </ul>
    </nav>
  </div>
</div>


<!-- Modal delete -->
<div class="modal fade" id="exampleModal" tabindex="-1" aria-labelledby="exampleModalLabel"
     aria-hidden="true">
  <div class="modal-dialog">
    <div class="modal-content">
      <div class="modal-header">
        <h5 class="modal-title" style="color: red" id="exampleModalLabel">Warning!</h5>
        <button type="button" class="btn-close" data-bs-dismiss="modal"
                aria-label="Close"></button>
      </div>
      <div class="modal-body">
        Bạn có muốn xoá sản phầm: <span style="color: #d21111">{{product.name}}</span> ?<br>
        Sản xuất:<span style="color: #d21111">{{product.dateIn |date: 'dd-MM-yyyy'}}</span> ? <br>
        Giá: <span style="color: #d21111">{{(product.price |currency: 'VND': '')}}đ</span> ? <br>
      </div>
      <div class="modal-footer">
        <button type="button" class="btn btn-dark" data-bs-dismiss="modal">
          <i class="fa-solid fa-rectangle-xmark"></i>
        </button>
        <button type="button" class="btn btn-danger" data-bs-dismiss="modal" (click)="deleteById(product.id)">
          <i class="fa-solid fa-trash-can"></i></button>
      </div>
    </div>
  </div>
</div>
<!--end modal-->





